services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    networks:
      - app-network
    environment:
      - NODE_ENV=production
    restart: unless-stopped
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "4000:4000"
    networks:
      - app-network
    depends_on:
      - nextjs
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
